name: Build and Test

on:
  push:
    branches: [ develop, master ]
  pull_request:
    branches: [ develop, master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        swift-version: "5.2.0"
    - name: Xcode 11.4
      run: sudo xcode-select -s /Applications/Xcode_11.4.app/Contents/Developer
    - name: Xcode version check
      run: xcodebuild -version
    - name: Check version
      run: swift --version
    - name: Build
      run: swift build
    - name: Test
      run: swift test --enable-test-discovery --enable-code-coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        file: .build/debug/codecov/*.json
        name: codecov-umbrella
